@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Varela+Round&display=swap');

*{
    margin: 0px;
    padding: 0%;
}

.page {
    background-color: #32292F;
    text-align: center;
}

.page .bar {
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.contenedor{
    background-color: #32292F;
    display: flex;
    justify-content: center;
}

.bar {
    align-self: center;
    align-items: center;
    background-color: #575366;
    border-radius: 15px;
    color: #FFFFFF;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    gap: 40px;
    height: 108px;
    justify-content: center;
    margin: 0px 35px 35px ;
    width: 946px;
    z-index: 9999;
    position: sticky;
    top: 20px;
}

.container .bar .p{
    background-color: #575366;
}

.bar .p{
    background-color: transparent;
    justify-content: space-around;
    margin: 10;
    padding: 10px 10px;
    padding: 10px;
}

.box {
    background-color: #D1E3DD;
    width: 1440px;
    height: 705px;
    border-radius: 10px;
    align-content: flex-end;
    
}

.contenedor:nth-child(2) {
    display: grid;
}

.bubble {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    width: 1440px;
    height: 750px;
    background: #D1E3DD; 
    border-color: #D1E3DD;
}
.bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 8%;
    border-top: 120px solid blue;
    border-top-color: inherit;
    border-left: 625px solid transparent;
    border-right: 625px solid transparent;
    padding-bottom: 50px;
}

.contenedor:nth-child(3) {
    padding-top: 150px;
    display: block;
}

.contenedor:nth-child(3) .titulo {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.proyectos {
    display: flex;
    align-items: center;
}


