.page {
    background-color: #EBEBD3;
    text-align: center;
}

.page .bar {
    margin-left: auto;
    margin-right: auto;
}


.bar {
    align-self: center;
    align-items: center;
    background-color: #575366;
    border-radius: 15px;
    color: #FFFFFF;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size:2vw;
    gap: 40px;
    height: 108px;
    justify-content: center;
    margin: 0px 35px 35px ;
    width: 80%;
    z-index: 9999;
    position: sticky;
    top: 20px;
}

.container .bar .p{
    background-color: #575366;
}

.bar .p{
    background-color: transparent;
    justify-content: space-around;
    margin: 10;
    padding: 10px 10px;
    padding: 10px;
}

.enlace {
    text-decoration: none;
    appearance: none;
    color: white;
}

.enlace:hover {
    text-decoration: underline;
}

.custom-shape-divider-top-1682129052 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shapetop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.shapetop .shapefilltop {
    fill: #6E7DAB;
}

.contenedor {
    background-color: #EBEBD3;
    height: 100%;
    width: 100%;
    align-self: center;
}

.container {
    background-color: #e3e4d4;
    height: 27vw;
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 5% auto;
    border: 10px solid #8c8d7f;
}

.itemp{
    /* margin: 3% 2% 2% 2%; */
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    transition: transform .2s;
    margin: 5%;
}
.itemp:hover {
    transform: scale(1.2); 
    cursor: pointer;
}
.info{
    margin-top: 3%;
    text-align: justify;
    padding-right: 3%;
    margin-left: 5%;
}
.info p{
    font-size: x-large;
}
.info h2{
    font-size: xx-large;
}

.shapebottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapebottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.shapebottom .shapefillbottom {
    fill: #6E7DAB;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        margin-top: 5%;
    }

    .itemp {
        width: 80%;
        margin: 5% auto;
    }

    .info {
        margin-top: 3%;
        text-align: justify;
        padding-right: 3%;
        margin-left: 5%;
        width: 80%;
    }

    .info h2 {
        font-size: large;
    }

    .info p {
        font-size: medium;
    }
}