.shapetop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shapetop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.shapetop .shapefilltop {
    fill: #6E7DAB;
}

.shapebottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapebottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.shapebottom .shapefillbottom {
    fill: #6E7DAB;
}