@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Varela+Round&display=swap');

.page {
    background-color: #32292F;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}


.page .bar {
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contenedor2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bar {
    align-self: center;
    align-items: center;
    background-color: #575366;
    border-radius: 15px;
    color: #FFFFFF;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size:2vw;
    gap: 40px;
    height: 108px;
    justify-content: center;
    margin: 0px 35px 35px ;
    width: 80%;
    z-index: 9999;
    position: sticky;
    top: 20px;
}

.container .bar .p{
    background-color: #575366;
}

.bar .p{
    background-color: transparent;
    justify-content: space-around;
    margin: 10;
    padding: 10px 10px;
    padding: 10px;
}


.box {
    background-color: #D1E3DD;
    width: 1440px;
    height: 705px;
    border-radius: 10px;
    align-content: flex-end;
    
}

.contenedor:nth-child(4) {
    height: 700px;
}

.bubble {
    margin: 35px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 750px;
    background: #D1E3DD; 
    border-color: #D1E3DD;
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    place-items: center;
}
.bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 3%;
    border-top: 120px solid blue;
    border-top-color: inherit;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    padding-bottom: 50px;
    
}

.bubble2 {
    margin: 35px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 750px;
    background: #D1E3DD; 
    border-color: #D1E3DD;
    display:grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    /* justify-items: center;
    align-items: center; */
    align-content: center;
    place-items: center;
}

.contenedor:nth-child(3) {
    padding-top: 150px;
    display: block;
}

.contenedor:nth-child(3) .titulo {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.proyecto {
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 5px;
    justify-items: center;
    place-items: center;
    height: 800px;
}
.proyecto p {
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
    padding: 20%;
    padding-top: 4px;
    padding-bottom: 0;
}
.item {
    height: 100%;
    width: 100%;
    padding: 10%;
}

.itemp{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    transition: transform .2s;
}

.itemp:hover {
    transform: scale(1.2); 
    cursor: pointer;
}

.grid_container {
    
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-content: center;
}

.item1 {
    grid-column: 1 / span 3;
}
.item2 { grid-area: left; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.icons{
    font-size: 7rem;
    appearance: none;
    color: black;
}
.enlace {
    text-decoration: none;
    appearance: none;
    color: white;
}

.enlace:hover {
    text-decoration: underline;
}

.profilec{
    height: 425px;
    width: 425px;
    border-radius: 50%;
}
.izqui{
    height: 100%;
    width: 100%;
    display:grid;
    place-items: center;
    overflow: hidden;
    
}
.derec{
    height: 60%;
    width: 100%;
    display:grid;
    place-items: center;
    padding-right: 15%;
    
}
.derec p{
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.derec h1{
    font-size: 3rem;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.icons:hover {
    animation: 1s ease 0s alternate infinite pulsate;
}


.titulo{
    height: 100px;
    z-index: 10;
}
@media only screen and (max-width: 900px) {
    .bar{
        width: 100%;
        font-size:4vw;
        gap: 6px;

    }
    .bubble{
        margin: 0px;
        padding: 0px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .derec{
        padding-right: 0;
        height: 100%;
        
    }
    .bubble {
        height: 1200px;
    }
    .bubble:after {
        content: "";
        position: relative;
        top: 100%;
        left: 3%;
        border-top: 10;
        border-top-color: inherit;
        border-left: 0;
        border-right: 0;
        padding-bottom: 0;
        
    }
    .proyecto{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid_container {
    
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        place-content: center;
    }
    .item1 {
        grid-column: 1 / span 1;
    }
    .contenedor{
        height: 2000px;
    }

}
